# Problem solving with python phase-1

* Variables
* Keywords
* Data types
* Operators
    * arthematic operators
    * assignment operators
    * logical operators
    * bitwise operators
    * conditional operators
    * identity operators
    * Membership operators

### variable

In [1]:
# Variable declaration
a=5
print(a)
b=10
print(b)
x,y,z = 55,12,23.5
p=q=r=22
print(q)
s = 'devika'

# variable redeclaration
x=20
print(x)

# deletion of variable
del r

5
10
22
20

In [2]:
r+a

NameError: name 'r' is not defined

### Datatypes

In [3]:
print(type(a))
print(type(z))
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
# ARTHEMATIC(+,_,*,/,%,**,//)
# ASSIGNMENT(=,+=,_=,*=,/=,**=,//=)
# LOGICAL OPERATORS(AND,OR,NOT)
# CONDITIONAL(==,>=,<=,!=)
# BITWISE(>>,<<)
# IDENTITY(IS,ISNOT)
# MEMBERSHIP(IN,NOTIN)

In [5]:
print(5>>2) # bitwise operators
print(5<<2)

1
20

In [6]:
print(6 is a)
print(10 is b)
print(6 is not a)
print(11 is not b) #identity operators

False
True
True
True

In [7]:
print('y' in "gayathri")
'p' not in 'apple' #membership operator

True

False

### Flow control
* Control statements
* Loops

* if
* if-else
* nested if
* while
* for
* break
* continue
* pass

In [8]:
# if statement
a = 22
if a==22:
    print("condition satisfied")

condition satisfied

In [9]:
a = 22
if a==25:
    print("condition satisfied")

In [10]:
# if else statement
a = 22
if a==25:
    print("condition satisfied")
else:
    print("condition not satisfied")

condition not satisfied

In [3]:
# dynamic representation
a1 = int(input("enter a1 value: "))
print(a1)
type(a1)

enter a1 value: 34
34

int

In [5]:
# check the given number even or odd
n = int(input("enter n value: "))
if n%2==0:
    print("given number is even")
else:
    print("given number is odd")

enter n value: 34
given number is even

In [6]:
# check the given number is positive or negative
n = int(input("enter n value: "))
if n>0:
    print("given number is positive")
else:
    print("given number is negative")

enter n value: -9
given number is negative

In [10]:
# print the biggest value in the given two numbers
n1 = int(input("enter n1 value: "))
n2 = int(input("enter n2 value: "))
if n1>n2:
    print("given value" , n1 ,"is bigger than",n2)
else:
    print("given value" , n2 ,"is bigger than",n1)

enter n1 value: 67
enter n2 value: 87
given value 87 is bigger than 67

In [14]:
#if-else-ladder
# Print the bigesst number in the given three numbers
n1 = int(input("enter n1 value: "))
n2 = int(input("enter n2 value: "))
n3 = int(input("enter n3 value: "))
if n1>n2>n3:
    print("given value" , n1 ,"is bigger than",n2,n3)
elif n2>n3:
    print("given value" , n2 ,"is bigger than",n1,n3)
else:
    print("given value" , n3 ,"is bigger than",n1,n2)

enter n1 value: 2
enter n2 value: 5
enter n3 value: 33
given value 33 is bigger than 2 5

### loops

In [17]:
# print n natural numbers
n = int(input("enter n value"))
for i in range(1,n+1):
    print(i)

enter n value5
1
2
3
4
5

In [1]:
# print reverse of n natural numbers
n = int(input("enter n value"))
for i in range(n,0,-1):
    print(i)

enter n value5
5
4
3
2
1

In [2]:
#print table for a given number
n = int(input("enter n value"))
r = int(input("enter range value"))
for i in range(1,r+1):
    print(n,"*",i,"=",n*i)

enter n value5
enter range value10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
#print all numbers which is divisible by 9 in the given range
n = int(input("enter n value"))
c=0
for i in range(1,n+1):
    if i%9==0:
        c = c+1
        print(i)
print("the count of 9 divisibles in given range:",c)

enter n value100
9
18
27
36
45
54
63
72
81
90
99
the count of 9 divisibles in given range: 11

In [18]:
#print n natural numbers by using while loop
n=10 
i=1
while(i<n+1):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [8]:
#using continue
n=10 
i=0
while(i<n):
    i=i+1
    if(i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
n=10 
i=1
while(i<n+1):
    if(i==5):
        print(i)
        i=i+1  
        break

# functions
* a block of code
## syntax:
    * def functionname(parameter1,parameter2,.......)

In [4]:
n=int(input("enter n: "))
def evenORodd(n):
    if n%2==0:
        print("given number is even")
    else:
            print("given number is odd")
evenORodd(n)

enter n: 40
given number is even

In [6]:
evenORodd(23)

given number is odd

In [3]:
# by using function concept try to print sum of the digits in a given number
n=int(input("enter n: "))
s=0
while(n > 0):
    Reminder = n % 10
    s = s + Reminder
    n = n //10
print("Sum of the digits of Given Number = ",s)

enter n: 1258
Sum of the digits of Given Number =  16

# strings:

    * string slicing

In [29]:
a="sairam"
a[0:]           ###  accessing the 0 index value
a[1:]           ###  accessing the 1 index value
len(a)          ###  getting the length of string
a[len(a)-1]     ###  accessing the last index value
a[-1]           ### accessing the last index value
a[int(len(a)/2)] ### accessing the middle character 
a[-1::-1]        ### reverse the string
a[1:-1]          ### except the first and last
a[-1:-3:-1]     ### accessing the last two characters in reverse order

'ma'

In [25]:
a[0:]

'sairam'

In [17]:
a[1:]

'airam'

In [18]:
len(a)

6

In [19]:
a[len(a)-1]

'm'

In [20]:
a[-1]

'm'

In [21]:
a[int(len(a)/2)]

'r'

In [22]:
a[-1::-1]

'marias'

In [23]:
a[1:-1]

'aira'

In [24]:
a[-1:-3:-1]

'ma'

In [30]:
a[int(len(a)//2):int(len(a)//2)-2:-1]        ### accessing the middle characters

'ri'

In [33]:
### creat a function for reversing a string

def reverseastring(a):
    return a[-1::-1]
reverseastring("nagasairam")

'mariasagan'

In [37]:
def middlestring(a):
    if len(a)%2==0:
        return a[int(len(a)//2)-1:int(len(a)//2)+1]
    else:
        return a[int(len(a)//2)]
middlestring("sairam")

'ir'

In [39]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
s="sairam"

In [42]:
str.capitalize(s)

'Sairam'

In [43]:
str.upper(s)

'SAIRAM'

In [44]:
str.lower(s)

'sairam'

In [45]:
str.isupper(s)

False

In [46]:
str.islower(s)

True

In [48]:
str.isalpha(s)

True

In [50]:
str.isalnum(s)

True

In [52]:
str.isdecimal(s)

False

In [58]:
str.isspace(s)

False

In [60]:
str.split(s,"  ")

['sairam']

In [65]:
str.startswith(s,"s")

True

In [62]:
str.swapcase(s)

'SAIRAM'

In [63]:
str.index(s,"r")

3

In [68]:
str.count("sairam","a")

2

In [74]:
str.lstrip("ece")

'ece'

In [73]:
str.rstrip("sai")

'sai'

In [75]:
str.casefold("sairam")

'sairam'

In [76]:
str.find(s,"s")

0

# lists

In [1]:
 n=input()
for i in n:
    print(i)

123456789
1
2
3
4
5
6
7
8
9

In [3]:
a=["@","abc","sai","ram"]

In [5]:
a[-1::-1]

['ram', 'sai', 'abc', '@']

In [6]:
a[0:]

['@', 'abc', 'sai', 'ram']

In [8]:
a[3][2]

'm'

In [10]:
a[-2][-1::-1]

'ias'

In [11]:
a

['@', 'abc', 'sai', 'ram']

In [12]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
a.sort(reverse=True)

In [26]:
a

['sai', 'ram', 'abc', '@']

In [30]:
a.sort(reverse=False)

In [31]:
a

['@', 'abc', 'ram', 'sai']

In [27]:
min(a)

'@'

In [28]:
max(a)

'sai'

#### write a program to check the year is leap year not

In [5]:
def isleapyear(y):
    #y=int(input("enter year:"))
    if(y%4==0 and y%100!=0):
        print(y,"is leap year")
    elif(y%100==0 and y%400==0):
        print(y,"is leap year")
    else:
        print(y,"in not a leap year")

In [7]:
isleapyear(2020)

2020 is leap year

In [11]:
### check if the number exist in a given range(inputs:number(n)),
### range(lower number and upper number)
def testrange(n):
    if n in range(30,40):
        print(n,"is in the range")
    else:
        print("the number is out side the range")
testrange(35)

35 is in the range

In [17]:
### check the number of digits in a given number

n= int(input('Enter any number:'))
 
count = 0
while n> 0:
    count += 1
    n//= 10
print("The number of digits in the given number are:", count)

Enter any number:15834
The number of digits in the given number are: 5

In [18]:
### check the factor of a number
print("Enter 'x' for exit.");
num = input("Enter a number: ");
if num == 'x':
    exit();
else:
    count = 0;
    number = int(num);
    for i in range(2, number-1):
         if number%i == 0:
            print(i);
            i += 1;
            count += 1;
    if count==0:
        print(number,"is a prime number.");

Enter 'x' for exit.
Enter a number: 1000
2
4
5
8
10
20
25
40
50
100
125
200
250
500

# touples

In [21]:
a=(1,2,3,4)

In [22]:
a[0]

1

In [23]:
a[-1::-1]

(4, 3, 2, 1)

In [24]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## dictionaries

In [28]:
a={"roll number":"18EM1A0423","name":"nagasairam"}

In [29]:
a

{'roll number': '18EM1A0423', 'name': 'nagasairam'}

In [31]:
a["roll number"]

'18EM1A0423'

In [32]:
a["name"]

'nagasairam'

In [39]:
b={"roll number":["421","422","423","424"],"name":["sai","ram","krishna","srinu"]}

In [40]:
b

{'roll number': ['421', '422', '423', '424'],
 'name': ['sai', 'ram', 'krishna', 'srinu']}

In [41]:
b["roll number"]

['421', '422', '423', '424']

In [42]:
b["name"]

['sai', 'ram', 'krishna', 'srinu']

In [75]:
def freq(s):
    for i in s:
        count=s.count(i)
        print(i,":",count)
    return
freq("1224")

1 : 1
2 : 2
2 : 2
4 : 1

#### iterate the integers from 1 to 50,for multiples of 3 print"fizz" and for multiples of 5 print"buzz"and for multiples of both 3 and 5 print "fizzbuzz".

In [92]:
for i in range(1,51):
    if(i%3==0 and i%5==0):
        print("fizzbuzz :",i)
    elif(i%3==0):
        print("fizz :",i)
    if(i%5==0):
        print("buzz :",i)

fizz : 3
buzz : 5
fizz : 6
fizz : 9
buzz : 10
fizz : 12
fizzbuzz : 15
buzz : 15
fizz : 18
buzz : 20
fizz : 21
fizz : 24
buzz : 25
fizz : 27
fizzbuzz : 30
buzz : 30
fizz : 33
buzz : 35
fizz : 36
fizz : 39
buzz : 40
fizz : 42
fizzbuzz : 45
buzz : 45
fizz : 48
buzz : 50

In [91]:
for i in range(0,50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49